 @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
.page-background {
	background: url("../images/background-city.png") 0/cover no-repeat;
	height: auto;
	width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    	.logo-container {
			height: 160px;
			width: 160px;
	        margin-top: 30px;
	        font-size: 25px;
	        border: 2px solid rgba(254,254,254,0.3);
	        border-radius: 5px;
			padding-top: 40px;
			margin-left: 120px;
    	}
    	.form {
			margin-left: 20px;
			margin-right: 20px;
	        margin-top: 40px;
	        padding: 20px;
	        background-color: #0ABED3;
			border-radius: 5px;
			.form-heading {
				h1 {
					font-family: inherit;
					font-weight: 300;
					margin-top: 35px;
					margin-bottom: -8px;
				}
				p {
					margin-bottom: 120px;
					font-size: 15px;
					line-height: normal;
				}
			}
			.form-main {
				border: 1px solid rgba(254,254,254,0.3);
				padding: 10px;
				border-radius: 5px;
				margin-bottom: 40px;

			}
			.account-number {
				display: flex;
				justify-content: center;
				.cancel-button {
					margin-left: 15px;
					cursor: pointer;
				}
			}
        .profile-photo {
            background: url(https://images.pexels.com/photos/253758/pexels-photo-253758.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) 0/cover no-repeat;
			background-position: center;
			margin: 0 auto;
			margin-top: -60px;
            margin-bottom: 10px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
			.input-line {
				display: flex;
				.input {
					width: 400px;
					border-radius: 5px;
				}
				.keyboard-button {
					margin-left: 15px;
					cursor: pointer;
				}
			}
			.btn {
				background-color: inherit;
				margin-bottom: 60px;
			}
			.white-button {
				background-color: white;
				border-radius: 5px;
				width: 118px;
				color: #000;
				font-weight: 300;
				animation: buttonAnime .5s infinite;
			}
		}
			.bottom-nav {
				ul {
					list-style-type: none;
					font-size: 11px;
					font-weight: 700;
					margin-top: 15px;
					li a {
						color: rgba(254,254,254,0.8);
					}
					li i {
						padding-left: 250px;
						font-size: 15px;
						color: white;
					}
				}
				span.fa {
					font-size: 14px;
					line-height: 14px;
					color: white;
				}
			}
	}
/* animation */
@keyframes buttonAnime {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.025);
	}
	50% {
		transform: scale(1.05);
	}
	75% {
		transform: scale(1.025);
	}
	100% {
		transform: scale(1);
	}
}
